___
<h3 style="text-align:center;">‚ö†Ô∏è Limpieza de datos: '<u>processed.csv</u>' + '<u>train.csv</u>' + '<u>test.csv</u>' ‚ö†Ô∏è
</h3>

---

<h3 style="text-align:center;">üìöüîß
</h3>

In [13]:
# Importacion de Librer√≠as:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

---
**<h3 style="text-align:center;">üîß: <u>Importaci√≥n</u> + <u>Limpieza</u></h3>**

In [23]:
# Importamos 'The_Cancer_data_1500_V2.csv'
df = pd.read_csv('../data/raw/The_Cancer_data_1500_V2.csv')


# Dummies para la columna 'GeneticRisk'
df_riesgos = pd.get_dummies(df['GeneticRisk'], prefix='Riesgo')

df['Riesgo_0'] = df_riesgos['Riesgo_0'].astype(int)
df['Riesgo_1'] = df_riesgos['Riesgo_1'].astype(int)
df['Riesgo_2'] = df_riesgos['Riesgo_2'].astype(int)

df.head()

,Age,Gender,BMI,Smoking,GeneticRisk,PhysicalActivity,AlcoholIntake,CancerHistory,Diagnosis,Riesgo_0,Riesgo_1,Riesgo_2
0,58,1,16.085313,0,1,8.146251,4.148219,1,1,0,1,0
1,71,0,30.828784,0,1,9.361630,3.519683,0,0,0,1,0
2,48,1,38.785084,0,2,5.135179,4.728368,0,1,0,0,1
3,34,0,30.040296,0,0,9.502792,2.044636,0,0,1,0,0
4,62,1,35.479721,0,0,5.356890,3.309849,0,1,1,0,0

---
**<h3 style="text-align:center;">‚¨áÔ∏è Guardar: '<u>processed.csv</u>' </h3>**

In [24]:
df_processed = df
df_processed.to_csv('../data/processed.csv')

---
**<h3 style="text-align:center;">‚ûó Separaci√≥n: '<u>Data</u>'‚≠§   '<u>Target</u>' </h3>**

In [14]:
X = df.drop(['Diagnosis', 'GeneticRisk'], axis=1)
y = df['Diagnosis']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

---
**<h3 style="text-align:center;">‚¨áÔ∏è Guardar: '<u>train.csv</u>' </h3>**

In [20]:
df_train_csv = pd.DataFrame(X_train)
df_train_csv['Diagnosis'] = y_train
df_train_csv.to_csv('../data/train.csv')

df_train_csv.head()

,Age,Gender,BMI,Smoking,PhysicalActivity,AlcoholIntake,CancerHistory,Riesgo_0,Riesgo_1,Riesgo_2,Diagnosis
807,80,0,18.013960,0,3.270068,1.586276,0,1,0,0,0
1229,68,1,19.143744,0,0.945563,1.153193,0,1,0,0,0
1480,42,1,31.786979,0,6.404833,4.984953,1,0,1,0,1
1436,41,0,28.660758,0,4.036467,0.056948,0,1,0,0,1
179,34,1,39.917421,0,9.859342,2.122863,1,0,1,0,1

---
**<h3 style="text-align:center;">‚¨áÔ∏è Guardar: '<u>test.csv</u>' </h3>**

In [19]:
df_test_csv = pd.DataFrame(X_test)
df_test_csv['Diagnosis'] = y_test
df_test_csv.to_csv('../data/test.csv')

df_test_csv.head()

,Age,Gender,BMI,Smoking,PhysicalActivity,AlcoholIntake,CancerHistory,Riesgo_0,Riesgo_1,Riesgo_2,Diagnosis
1116,46,1,30.193803,0,7.111218,2.770849,1,0,1,0,1
1368,49,1,33.547408,0,3.047609,2.570403,0,0,0,1,1
422,73,0,15.604794,0,6.579499,4.913262,0,1,0,0,0
413,41,0,25.247622,0,6.860912,1.574666,0,1,0,0,0
451,60,0,22.054677,1,7.804711,0.522402,0,1,0,0,0